nav 
{
   /*border: 3px dotted blue;*/
   width: 95%;
   margin: auto;
}

.menu_principal
{
  /*border:2px solid black ;*/
  display: flex;
  
  justify-content: space-around;
   
  list-style-type: none;
  height: 1.5em;
}

.menu_principal li 
{
   
   /*display: inline-block;*/
   /*border:1px solid yellow ;*/
   text-transform: capitalize;
   
}


.menu_principal li a 
{
  
  text-decoration: none;
  color:gray;
  font-size: 1.3em;
  font-weight:normal;
  

}


.menu_principal li a:hover
{

   border-bottom-style: solid;
   border-bottom-width: 3px;
   border-bottom-color: skyblue;
   padding-bottom:0.2em ;
}


.menu_principal li #service:hover
{
   


}  




.sous_menu
{
   
   list-style-type: none;
   border: 2px dashed green;
   position: relative;
   left: -2.4em;
   

}

.sous_menu:hover 
{
  
  
}


.sous_menu li
{
  position: relative;
  left: -2em;
  font-weight: normal;
  font-size: 0.7em;
  border: 1px dotted black;
  width: 120px;
  line-height: 3em;
  text-align: center;

}


.sous_menu li a 
{
  display: block;
  width: 100%;


}


.sous_menu li a:hover 
{
   
   border-bottom-style: none;
   border-bottom-width: 0;
   border-bottom-color: ;
   padding-bottom:0 ;

}
