nav 
{
   /*border: 3px dotted blue;*/
   width: 80%;
   margin: auto;
}

ul 
{
  /*border:2px solid black ;*/


}

li 
{
   font-size: medium;
   display: inline-block;
   /*border:1px solid yellow ;*/
   margin: 0 4em 0 5em;
   text-transform: capitalize;
   /*width: 80px;*/
}


ul li a 
{
  display: inline-block;
  text-decoration: none;
  color:gray;
  font-size: 1.3em;
  font-weight:normal;
  /*width: 100%;*/


}


ul li a:hover
{

   border-bottom-style: solid;
   border-bottom-width: 3px;
   border-bottom-color: skyblue;
   padding-bottom:0.2em ;
}