nav 
{
   /*border: 3px dotted blue;*/
   width: 95%;
   margin: auto;
}


.menu_principal  /*Définition des style du UL principal*/
{
  /*border:2px solid black ;*/
  display: flex;
  
  justify-content: space-around;
   
  list-style-type: none;
  height: 1.5em;
}

.menu_principal li 
{
   
   /*display: inline-block;*/
   
   border:1px solid transparent ;
   text-transform: capitalize;
   
}


.menu_principal li a 
{

  text-decoration: none;
  color:gray;
  font-size: 1.3em;
  font-weight:normal;

  

}


.menu_principal li a:hover
{

   border-bottom-style: solid;
   border-bottom-width: 3px;
   border-bottom-color: skyblue;
   padding-bottom:0.2em ;
}


.sous_menu /*Définition du style du sous menu*/
{
    list-style-type: none;
    border: 2px dashed transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


.sous_menu li
{
   
position: relative;
left: -2.4em;
font-weight: normal;
font-size: 0.7em;
border: 1px dotted black;

}


.sous_menu li a 
{


}
